.nav-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-self: end;
	gap: 0.5rem;
	padding-top: 6rem;
	width: fit-content;
	grid-area: 1 / 3 / 2 / 4;
	align-items: start;
	width: fit-content;
	align-self: center;
	height: fit-content;
	justify-self: end;

	@media screen and (max-width: 768px) {
		flex-direction: row;
		align-items: center;
    justify-content: center;
		padding-top: 0;
	}
}
