@font-face {
  font-display: swap;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 200;
  src: url("../public/assets/fonts/nunito-sans-200.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../public/assets/fonts/nunito-sans-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../public/assets/fonts/nunito-sans-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../public/assets/fonts/nunito-sans-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../public/assets/fonts/nunito-sans-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  src: url("../public/assets/fonts/nunito-sans-800.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 900;
  src: url("../public/assets/fonts/nunito-sans-900.woff2") format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.5;
  font-weight: 200;
  color: #e5f0ff;
  overflow: hidden;
}

h1, h2, p {
  margin: 0;
}

h1 {
  font-size: 4rem;
  font-weight: 200;
}

h2 {
  font-size: 2.5rem;
  font-weight: 200;
}

h3 {
  font-size: 1.75rem;
  font-weight: 200;
}

p {
  font-size: 1rem;
  font-weight: 200;
}

/* Responsive typography adjustments */
@media (max-width: 1200px) {
  h1 {
      font-size: 3.5rem;
  }
  h2 {
      font-size: 2rem;
  }
  p {
      font-size: 0.9rem;
  }
}

@media (max-width: 992px) {
  h1 {
      font-size: 3rem;
  }
  h2 {
      font-size: 1.75rem;
  }
  h3 {
      font-size: 1.5rem;
  }
  p {
      font-size: 0.85rem;
  }
}

@media (max-width: 768px) {
  body {
      font-weight: 400; /* Slightly heavier font for better readability on small devices */
  }
  h1 {
      font-size: 2.5rem;
  }
  h2 {
      font-size: 1.5rem;
  }
  h3 {
      font-size: 1.25rem;
  }
  p {
      font-size: 0.8rem;
  }
}

@media (max-width: 576px) {
  h1 {
      font-size: 2rem;
  }
  h2 {
      font-size: 1.25rem;
  }
  h3 {
      font-size: 1rem;
  }
}
