@import-normalize;

@font-face {
	font-display: swap;
	font-family: "Nunito Sans";
	font-style: normal;
	font-weight: 200;
	src: url("../public/assets/fonts/nunito-sans-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-sans-regular - latin */
@font-face {
	font-display: swap;
	font-family: "Nunito Sans";
	font-style: normal;
	font-weight: 400;
	src: url("../public/assets/fonts/nunito-sans-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-sans-500 - latin */
@font-face {
	font-display: swap;
	font-family: "Nunito Sans";
	font-style: normal;
	font-weight: 500;
	src: url("../public/assets/fonts/nunito-sans-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-sans-600 - latin */
@font-face {
	font-display: swap;
	font-family: "Nunito Sans";
	font-style: normal;
	font-weight: 600;
	src: url("../public/assets/fonts/nunito-sans-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-sans-700 - latin */
@font-face {
	font-display: swap;
	font-family: "Nunito Sans";
	font-style: normal;
	font-weight: 700;
	src: url("../public/assets/fonts/nunito-sans-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-sans-800 - latin */
@font-face {
	font-display: swap;
	font-family: "Nunito Sans";
	font-style: normal;
	font-weight: 800;
	src: url("../public/assets/fonts/nunito-sans-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-sans-900 - latin */
@font-face {
	font-display: swap;
	font-family: "Nunito Sans";
	font-style: normal;
	font-weight: 900;
	src: url("../public/assets/fonts/nunito-sans-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
	height: 100%;
}

body {
	font-family: "Nunito Sans", sans-serif;
	line-height: 1.5;
	font-weight: 200;
	color: #e5f0ff;
	background-image: radial-gradient(
		rgba(15, 34, 61, 1) 0%,
		rgba(0, 7, 33, 1) 31%,
		rgba(15, 33, 61, 1) 100%
	);
	background-size: 400% 400%;
	background-position: center center;
	margin: 0;
	padding: 0;
	overflow: hidden;
  cursor: none;
}

h1 {
	font-size: 4rem;
	font-weight: 200;
	margin: 0;
}

p {
	font-size: 1rem;
	font-weight: 200;
	margin: 0;
}
